* {
 margin: 0;
 padding: 0;
  box-sizing: border-box;
  
}


.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

.pelicula-principal .boton .i {
  margin-right: 1.25em;
}

#copyrightFooter {
  text-align: center;
  color: #e0e0e0;
}
#cuerpoFooter .h5 {
  color: #fff;
 text-decoration:underline #fff
}
#cuerpoFooter li a,li{
  text-decoration: none ;
  color: #e0e0e0;
}
#cuerpoFooter ul {
  list-style: none;
padding-left: 0;
}
.img-main {
  height: 50%;
}

.container {
  margin-top: 20px;
}