@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital@1&display=swap');

* {
 margin: 0;
 padding: 0;
box-sizing: border-box;
font-family: 'Bebas Neue', sans-serif;
}

.navbar {
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgb(114, 114, 114) 0%, rgba(114, 114, 114) 0%, rgb(114, 114, 114) 17.3%, rgb(127, 127, 127) 58.8%, rgba(114, 114, 114) 71.4%, rgba(114, 114, 114) 100.2%, rgb(114, 114, 114) 100.2% );
}

.footer {
  background-image: linear-gradient(to bottom, gray 0%, rgba(27,24,113,1) 100%);
}

body {
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}

.loginForm{
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}


.card-img-overlay {
  position: absolute;
  top: 250px;
}

.boton-estreno {
  position: absolute;
  top: 53%;
  left: 47px;
}

.boton-estreno {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1em;
}

.boton-estreno:hover {
  background: #fff;
  color: #000;
}

.boton-estreno i {
  margin-right: 1.25em;
}

.boton-estreno .i {
  margin-right: 1.25em;
}


.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

.pelicula-principal .boton .i {
  margin-right: 1.25em;
}


.pelicula-principal.cards-principal {
  background-color: rgba(7,7,9,1);
}

#copyrightFooter {
  text-align: center;
  color: #000000;
}
#cuerpoFooter .h5 {
  color: #fff;
  text-decoration:underline #fff
}
#cuerpoFooter li a,li{
  text-decoration: none ;
  color: #e0e0e0;
}
#cuerpoFooter ul {
  list-style: none;
  padding-left: 0;
}

#bodyNosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  background-image: linear-gradient(to right, gray 0%, white 100%);
}





.cardNosotros {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(73, 69, 52, 0.4);
  margin: 40px;
}

.cardNosotros .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}

.cardNosotros .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.cardNosotros .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cardNosotros .content span {
  position: absolute;
  width: 350px;
  height: 200px;
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  top: 285px;
  left: 0px;
}

.cardNosotros .content h4 {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: rgba(4, 1, 1, 0.883);
  margin-bottom: 10px;
}

.cardNosotros .content h6 {
  font-size: 20px;
  font-weight: bold;
  color: #0b4747;
  margin-bottom: 20px;
}

.cardNosotros .links {
  position: absolute;
  z-index: 90;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 20px;
  align-items: center;
  right: 10px;
  top: 15px;
}

.cardNosotros:hover .links {
  right: -50px;
  border-radius: 0 10px 10px 0;
  transition: .5s;
}

.cardNosotros .links a {
  font-size: 20px;
  color: #646969;
}

.cardNosotros .links a:nth-child(1):hover {
  color: #0158ca;
}

.cardNosotros .links a:nth-child(2):hover {
  color: #1c93e4;
}

.cardNosotros .links a:nth-child(3):hover {
  color: #5D277D;
}

.cardNosotros .links a:nth-child(4):hover {
  color: #d5303e;
}

.brand img {    
  width: 155px;
  height: 100px;
  position: relative;
  top: -46px;
  left: -90px;
}

.contNosotros {
  display: flex;
}

.bodyError404 {
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.error-message__container {
  text-align: center;
  color: white;
}

  .titulo404 {
      font-size: 90px;
  }
  .texto404 {
      font-size: 20px;
  }

  .bodyContacto{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  }
  
  .containerContacto {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100}
  
    .containerContacto:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
  }
  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .leftContacto{
    background-size: cover;
    height: 100%;
  }
  
  .rightContacto{
    padding: 25px 40px;
  }
  
  .titleContacto {
    color: #315a5b;
  }
  
  .contactanos{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
  .contactanos:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: rgb(81, 137, 240);
  }
  
  .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    
  }
  
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    min-height: 150px;
  }
  
  .btnContacto{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(81, 137, 240);
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
  }
  
  .btnContacto:hover{
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
  }
  
  
  .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
  }
  .section-main {
    margin-top:80px;
    padding: 20px 0;
    position: absolute;
    right: 0;
    top: -91px;
  }
  .form-control{
    height: 44px;
  }

  .detalle-btn {
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
  }
  .btn-buscar {
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    border: none;
  }

  .img-main {
    width: 100%;
    height: 100%;
  }

  .detalle{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.descripcion-detalle{
    width: 100% !important;
    margin-top: 50px;
    
}
.formAdmin{ 
	margin-top: 50px;
	margin-bottom: 50px;}
		   
	.tablaAdmin{ 
		display: flex;
		justify-content: center;
	margin-left: 10px;
	margin-right: 10px;}
	  
  .tituloAdministracion
	  { 
      background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
		display: flex;
		justify-content: center;
	  }

@media screen and (max-width: 750px) {
  .containerNosotros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .brand {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .containerNosotros {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .brand {
      display: none;        
  }
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.leftContacto{
		height: 200px;
	}
}

@media screen and (max-width: 880px){
	.map{
		grid-template-columns: 1fr;
		display: none;
	}
	.leftContacto{
		height: 200px;
		background-image: url(/img/img_Contacto/Disney_logo.png);
		background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
	}
}

@media screen and (max-width: 780px){
	.descripcion {
    display: none;
  }
  .titulo {
    display: flex;
  }
}

@media screen and (max-width: 780px){
	.descripcion {
    display: none;
  }
  .titulo {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .section-main {
    display: none;
  }
}

@media screen and (max-width: 177vh) {
  .boton-estreno {
    position: absolute;
    top: 200px;
  }
}

@media screen and (max-width: 133vh) {
  .boton-estreno {
    position: absolute;
    top: 50%;
    right: 100px;
    left: 100px;
  }
}

@media screen and (max-width: 912px) {
  .titulo {
    display: none;
  }
  .descripcion {
    display: none;
  }
}

@media screen and (max-width: 912px) {
  .boton-estreno {
    position: absolute;
    top: 50%;
    right: 100px;
    left: 100px;
  }
}

img, .menu-icono {
  width: 118px;
}

.nav-item:hover {
  background-color: #1610be;
  transition: 0.5s;
}

button, .btn-buscar:hover {
  color: #8a8a8a;
  transition: 0.5s;
}

.img-redessociales > img {
  width: 40px;
  height: 40px;
}

/* .pelicula-principal {
  position: absolute;
  width: 2000px;
} */

@media screen and (max-width: 768px) {
  .contNosotros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contNosotros {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
}

.contNosotros {
  display: flex;
  position: relative;
  top: 90px;
  margin-bottom: 100px;
}